#container {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: #ffffff;
  height: calc(100vh - 120px);
  width: 100%;
}

.nav__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* align-items: flex-start;
  justify-content: flex-start; */
  /* height: calc(100vh - 122px); */

  /* height: 100vh; */
  overflow-y: scroll; 
  background-color: transparent;
  
  padding-left: 1rem;
  /* flex-grow: 0;
  flex-basis: auto;
  width: 100%; */
}

.nav__container > p {
  width: 100%;
  font-size: 15px;
  padding: 15px 15px 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.form > .container2 input {
  /* border-color: #d9d6d6; */
  /* border: 0.1px solid; */
  margin-top: 1rem;
}

.form button{
  outline: none;
  border: none;
  background-color:rgb(3, 182, 48);
  color: #ffff;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px 16px;
  width: 100%;
  transition: 100ms;
  cursor: pointer;
}

.form .errMsg {
  font-size: 10px;
  margin: 2px 0 10px 2px;
  color: red;
}