
.displayCard {
  /* position: relative; */
  cursor: pointer;
  border-radius: 0.8rem;
  width: 220px;
  height: 55px;
  margin: 10px;
  font-size: 14px;
  /* padding: 10px; */
  font-weight: 400;
  background-color: #f2f4f7;
  display: flex;
  align-items: center;
}
.displayCard:is(:hover, :focus) {
  background-color: rgb(223, 227, 231);
}

.displayCard p {
  width: 110px;

  /* this is for 3 dots if the text remains after fixed width */  
  white-space: nowrap; 
  overflow: hidden;          
  text-overflow: ellipsis;
}
  
.displayCard .svg {
  color: #5f6368;
  margin: 0 20px;
  width: 20px;
  height: 20px;
}

.displayCard label {
  cursor: pointer;
  margin-top: 5px;
}

.displayCard label > .svg {
  /* position: absolute; */
  
  width: 24px;
  height: 24px;
  color: #5f6368;

  border-radius: 50%;
  padding: 2px 0;
  /* margin: 0 20px; */
}
  
.displayCard label > .svg:is(:hover) {
  background-color: #d0d3d7;
}
  
.displayCard input[type='checkbox'] {
  position: absolute;
  left: -10000px;
}