.container2{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container2 label{
    font-weight: 500;
    font-size: 0.9rem;
    color: #4b4b4b;
}
.container2 input{
    border-radius: 5px;
    border: 1px solid #eee;
    outline: none;
    padding: 8px 15px;
    color: #000;
}
.container2 input :hover{
    border-color: #ccc;
}
.container2 input:focus{
    border-color: #9900ff;
}